/target/

/.idea/
/.settings/
/.project
/.classpath
*.iml

.env

.DS_Store
Thumbs.db

*.log
*.tmp
*.swp

/.mvn/wrapper/maven-wrapper.jar

/src/main/java/io/github/ndys/patto/workspace/
